[submodule "Project/backend/miniTelegram_server"]
	path = Project/backend/miniTelegram_server
	url = https://github.com/AUT-Programming/miniTelegram_server.git
[submodule "Project/frontend/--force"]
	path = Project/frontend/--force
	url = https://github.com/AUT-Programming/minitelegram_client.git
